<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791867142383-k6bcsu1t7lem1aanups5enps4s9o9m14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791867142383-k6bcsu1t7lem1aanups5enps4s9o9m14</string>
	<key>API_KEY</key>
	<string>AIzaSyCxX9ua28q-kuYVMYwGhYeLLfNiz84AaMw</string>
	<key>GCM_SENDER_ID</key>
	<string>791867142383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myallaadin</string>
	<key>PROJECT_ID</key>
	<string>myallaadin</string>
	<key>STORAGE_BUCKET</key>
	<string>myallaadin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791867142383:ios:f14ddef2d48c81215ceb1a</string>
</dict>
</plist>